body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 16px;
}

img {
    border: 3px solid black;
}

table {
    border-collapse: collapse;
    width: 500px;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: lightblue;
}